@font-face {
    font-family: "ignorance";
    src: url(fonts/UniversalIgnorance.woff2) format("woff2"),
         url(fonts/UniversalIgnorance.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: stretch;
    height: 100vh;
    margin: 0;
}

.visual-section{
    flex: 2;
    background-image: url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.logo-container{
    position: absolute;
    width: 100%;
    top: 200px;
    height: 110px;
    background-color: rgba(0, 0, 0, 0.349);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img{
    height: 100px;
    width: auto;
}

.logo-txt{
    font-family: "ignorance", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: clamp(3rem, 0.75rem + 4vw, 5rem);
    color: white;

    position: relative; /*This two lines centers the text relative to the icon, the font has an offset*/
    top: 10px;
}

.form-section{
    flex: 4.1;
    background-color: black;
}